.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: black;
}

.App img{
  width: 500px;
  height: 300px;
  margin: 10px;
}

.comments {
  margin: 20px;
  
  
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #6f7070;
}

.comments-container {
  width: 95%;
  margin: 20px ;
 
  padding: 10px 20px 10px 10px;
  background-color: rgb(226, 230, 232);
  border-radius: 1.5rem;
  

}



.comment-form-title {
  font-size: 22px;
  color: #6f7070;
}

.comment-form-textarea {
  width: 90%;
  height: 80px;
  margin-bottom: 8px;
 display: flex;
  border: 1px solid rgb(85, 124, 118);
  border-radius: 2.5rem;
  padding: 10px 20px ;

}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
  
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  width: 30px;
  height: 30px;
  border-radius: 2.5rem;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .App img{
    margin: 20px;
  }
  
  
  
}

